@font-face {
    font-family: 'FiraSan-header-font';
    src: url(../assets/fonts/FiraSans-Bold.ttf);
}

@font-face {
    font-family: 'FiraSan-para-font';
    src: url(../assets/fonts/FiraSans-Regular.ttf);
}

@font-face {
    font-family: 'SorceCodePro-Bolt';
    src: url(../assets/fonts/SourceCodePro-Bold.ttf);
}

@font-face {
    font-family: 'SorceCodePro-Medium';
    src: url(../assets/fonts/SourceCodePro-Medium.ttf);
}